* {
	padding: 0;
	margin: 0;

}
html {
	overflow-y: hidden;
	overflow-x: hidden;
}
body{
	color: #333;
	font-size: 10pt;
}

#widgetSimpleSearchPortlet .simpleSearchOptions {
	background-color: #e8e8e8;
	border-radius: 5px;
	padding: 5px;
	display: inline-block;
	*display:inline;
	*zoom:1;
}
#simpleSearchForm {
    display: inline-block;
}
#searchTerms, #searchButton  {
	float: left;
	font-size: 12px;
	font-weight: bold;
	border-radius: 3px;		
	padding:3px;
}
#searchTerms {
	width: 250px;
	background-color: white;
	border: 1px solid #999999;
}
#searchButton{
	width: 90px;
	background-color: #cbeafc; 
	border: 1px solid #00a0df;	
	margin-left: 5px;
	overflow: visible;	
	cursor: pointer;
	color: #00384d;		
}
input#searchTerms:focus {
	border: 1px solid #00a0df;
}
#poweredBy {
	font-size: 10px;
	padding-top: 5px;	
    width: 343px;	
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

html,
button,
input{
    font-family: Arial, sans-serif;
}