

#simpleSearchPortlet #simpleAndAdvancedSearch {
	width: 100%;
	display: block;
}

#simpleSearchPortlet #simpleSearch #searchTerms {
	width:310px;
}
#simpleSearchPortlet #simpleSearch {
	width: 100%;
}
#simpleSearchPortlet #simpleSearch p {
	font-size: 8pt;
}

#simpleSearchPortlet #simpleSearch #simpleSearchOptionsContent {
	height:	55px;
}

