h1.content-page-title {
    margin-top: 0px;
    padding-top:0px;
}
.content-frontpage-imagewrapper {
	float:left;
	background-color: white;
	width:180px;
	height: 137px;
	display:block

}
.content-frontpage-text {
	font-size: 11px;
}

.content-frontpage-block {
	display:block;
	clear: both;
	width: 400px;
}
#survey .mainButton {
	background: url("../images/ape/mainbutton.jpg") repeat-x scroll right top white;
    border: 1px solid #00A0DF;
    color: #00384D;
    margin-left: 5px;
    margin-top:5px;
}
#survey p {
	padding: 5px;
}

#survey .buttons {
	
}