/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
@import url(custom-portlet-advancedsearch.css);
@import url(custom-portlet-simplesearch.css);
@import url(custom-search.css);
@import url(custom-portlet-directory.css);
@import url(custom-portlet-eaddisplay.css);
@import url(custom-navigation.css);
@import url(custom-global.css);
@import url(custom-global-content.css);
@import url(custom-global-icons.css);
@import url(normalize.css);

@import url(jquery/jquery-ui-1.8.14.custom.css);

@import url(dynatree/ui.dynatree.css);

input[type="submit"],input[type="reset"],input[type="button"],button[type="submit"],button[type="reset"],button[type="button"]
	{
	background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;
	border: 1px solid;
	border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
	color: #34404F;
	font-weight: bold;
	overflow: visible;
	padding: 5px;
	text-shadow: 1px 1px #FFF;
	width: auto;
	border-radius: 3px;
}

input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,button[type="submit"]:hover,button[type="reset"]:hover,button[type="button"]:hover
	{
	background: #B9CED9 url(../images/application/state_hover_bg.png)
		repeat-x 0 0;
	border-color: #627782;
	color: #369;
}

input[type="text"],input[type="file"],input[type="password"],textarea {
	border-radius: 3px;
	border: 1px solid #999999;
    padding: 5px;	
}

input:focus {
	border: 1px solid #00a0df;
}

input[type="submit"].mainButton {
	background: url("../images/ape/mainbutton.jpg") repeat-x scroll right
		top #FFFFFF;
	color: #00384d;
	font-weight: bold;
}



.hidden {
	display: none;
	visibility: hidden;
}
.bold {
	font-weight: bold;
}
