#simpleSearchPortlet #simpleAndAdvancedSearch {
	width: 100%;
	display: block;
}

#simpleSearchPortlet #simpleSearch #searchTerms {
	width: 310px;
}

#simpleSearchPortlet #simpleSearch {
	float: left;
}

#simpleSearchPortlet #simpleSearch p {
	font-size: 8pt;
}

.simpleSearchOptions {
    background-color: #E8E8E8;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}
#embeddedSimpleSearchPortlet #simpleSearch #searchTerms {
	font-size: 12px;
	width:250px;
}

#embeddedSimpleSearchPortlet #simpleSearch #searchButton {
	font-size: 12px;
	width: 90px;
}

#embeddedSimpleSearchPortlet #simpleSearch {
	width:400px;
}

#embeddedSimpleSearchPortlet .simpleSearchOptions {
    background-color: #FFFFFF;
    border-radius: 3px;
    display: inline-block;
    opacity: 0.9;
    padding: 3px;
    position: relative;
    right: -30px;
    top: -130px;
}