#eacCpfDisplayPortlet {
	background-image: none;
	background-color: white;
	color: #2A4862;
	margin-right:5px;
	margin-left:5px;
}
#eacCpfDisplayPortlet h3#contextInformation {
	padding-top:0px;
	margin-top:0px;
}
#eacCpfDisplayPortlet  #eaccpfcontent {
    position: relative;
    top: -15px;
}

#eacCpfDisplayPortlet #printEacDetails{
	float:right;
	width:70%;
	
}
#eacCpfDisplayPortlet #details{
	width:70%;
	float:left;
}
#eacCpfDisplayPortlet h1 {
    color: #2A4862;
    font-size: 130%;
    font-weight: bold;
	margin-top:15px;
	margin-bottom:15px;
	display: inline-block;
    text-align: center;
    width:70%;	
}
#eacCpfDisplayPortlet h1 span#entityType{
	color:#83736A;
	font-weight:normal;
}
#eacCpfDisplayPortlet h2.otherInformation{
	color:#83736A;
	border-bottom:1px solid #83736A;
	padding-top:20px;
}
#eacCpfDisplayPortlet h2.title{
	border-bottom: none;
	font-size:9pt;
	font-weight:bold;
	text-transform: uppercase;
}
pre.outline{
	font-size:8pt;
	font-family: Arial,sans-serif;
}
#eacCpfDisplayPortlet .subrow{
	margin-left:40px;
}
#eaccpfcontent .leftcolumn h2{
	border-bottom: none;
	font-size:8pt;
	font-weight:bold;
}
#eacCpfDisplayPortlet .grey {
	color:#83736A;
}
#eacCpfDisplayPortlet .row {
	display:block;
	font-size:8pt;
	overflow:auto;
}

#eacCpfDisplayPortlet .leftcolumn {
	float:left;
	overflow-y: auto;
}
#eacCpfDisplayPortlet .rightcolumn {
	text-align:auto;
	margin-left:180px;
	margin-top:9px;
}
#eacCpfDisplayPortlet #relations{
	float:right;
	width:260px;
	font-size:8pt;
}
#eacCpfDisplayPortlet .box .boxtitle{
	cursor:pointer;
}

#relations ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 5px;
}
.displayLinkShowMore:link, .displayLinkShowLess:link{
 color:#2A4862;	
}

.linkShow:link{
	color: #C65400;
	text-decoration:underline;
}
.linkMore{
	float:right;
}

@media screen {
	#eacCpfDisplayPortlet #eaccpfcontent em{
		background-color: #afdefc;
	}	
}

#eacCpfDisplayPortlet #eaccpfcontent em{
	font-size: 110%;
	padding-left:2px;
	padding-right:2px;
}

#eacCpfDisplayPortlet .defaultlayout {
	text-align: center;
}

#eacCpfDisplayPortlet em {
	font-weight: bold;
	font-style: normal;
}


