/* ---------- Main navigation ---------- */

#navigation {
	background: url(../images/ape/nav-bg.png) repeat-x 0 0;
	clear: both;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1;
}

#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0px;
}


#navigation li, #navigation a {
	display: inline-block;
}

.ie6 #navigation li, .ie7 #navigation li, .ie6 #navigation a, .ie7 #navigation a {
	display: inline;
	zoom: 1;
	z-index: 200;
}

#navigation li {
	position: relative;
	vertical-align: top;
	border-right: 1px solid #999999;
}

#navigation a {
	padding-right: 10px;
	padding-left: 10px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: black;
}

.ie6 #navigation a, .ie7 #navigation a {
	padding: 4px 15px;
}

#navigation .yui3-dd-drop a {
	cursor: move;
}

#navigation > ul > li.hover > a, #navigation > ul > li > a:hover, #navigation > ul > li >  a:focus {
	background-color: #fff;
	/* for IE */
	filter: alpha(opacity =       70);
	/* CSS3 standard */
	opacity: 0.7;
	color: #06c;
}
#navigation > ul > li.selected > a{
	color: #00384D;
	background-color: #fff;
	/* for IE */
	filter: alpha(opacity =       70);
	/* CSS3 standard */
	opacity: 0.7;
}

#navigation li.hover .child-menu {
	display: block;
	position: absolute;
	width: 200px;
	z-index: 250;
}

.ie6 #navigation ul.child-menu-visible, .ie6 #navigation li.hover .child-menu, .ie7 #navigation ul.child-menu-visible, .ie7 #navigation li.hover ul.child-menu {
	left: 0;
	top: 25px;
}

#navigation .child-menu {
	display: none;
    background: url("../images/ape/submenu.jpg");
    background-repeat: repeat;
}

#navigation .child-menu li {
	display: block;
	float: none;
	margin: 0;
	padding-top:3px;
	
}

#navigation .child-menu li a {
	cursor: pointer !important;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
	color: black;
}

.ie7 #navigation .child-menu li a {
	zoom: 1;
}

#navigation .child-menu li a:hover, #navigation li a.active {
    background-color: #FFFFFF;
    color: #0066CC;
    opacity: 0.7;
}

#navigation .child-menu .selected a {
    background-color: #FFFFFF;
    color: #0066CC;
    opacity: 0.7;
}

.nav-menu-style-arrows ul {
	list-style-image: url(@theme_image_path@/navigation/bullet_selected.png);
}
