.icon_waiting {
	height:48px;
	width:48px;
	background-image: url("../images/ape/icons/waiting.gif");
	background-repeat: no-repeat;
	clear: both;
	margin: auto;
	display:inline-block;
}

.icon_help {
	height:16px;
	width:16px;
	background-image: url("../images/ape/icons/help.png");
	background-repeat: no-repeat;
	display:inline-block;	
}

.icon_print {
	height:16px;
	width:16px;
	background-image: url("../images/ape/icons/print-icon.png");
	background-repeat: no-repeat;
	display:inline-block;	
}
span.icon_dao_type_small_3d, span.icon_dao_type_small_image, span.icon_dao_type_small_video, span.icon_dao_type_small_text,span.icon_dao_type_small_sound, span.icon_dao_type_small_unspecified {
	width: 17px;
	height: 17px;
	display: inline-block;
	text-indent: -9999px;
}

span.icon_dao_type_small_3d {
	background-image: url("../images/ape/icons/dao_types/small/3d.png");	

}
span.icon_dao_type_small_image {
	background-image: url("../images/ape/icons/dao_types/small/image.png");	
}
span.icon_dao_type_small_sound {
	background-image: url("../images/ape/icons/dao_types/small/sound.png");	
}
span.icon_dao_type_small_video {
	background-image: url("../images/ape/icons/dao_types/small/video.png");	
}
span.icon_dao_type_small_text {
	background-image: url("../images/ape/icons/dao_types/small/text.png");	
}
span.icon_dao_type_small_unspecified {
	background-image: url("../images/ape/icons/dao_types/small/unspecified.png");	
}
span.icon_new_window {
	background-image: url("../images/ape/icons/new_window.png");	
	width: 13px;
	height: 13px;
	display: inline-block;
}