h1.content-page-title {
    margin-top: 0px;
    padding-top:0px;
}

.content-page-text img {
	
	border: 1px solid #999;
    padding: 2px;
    width: 70%;
}

.content-page-images img {
	border: 1px solid #999;
    padding: 2px;
    width: 100%;
}
.content-page-text figure, .content-page-images figure {
	 text-align: center;
	 margin-top:10px;
	 margin-bottom:10px;
}

.content-page-text figcaption, .content-page-images figcaption  {
	font-style: italic;
	font-size: 90%;
}
.content-frontpage-imagewrapper {
	float:left;
	background-color: white;
	width:180px;
	height: 137px;
	display:block

}
.content-frontpage-text {
	font-size: 11px;
}

.content-frontpage-block {
	display:block;
	clear: both;
	width: 400px;
}
#survey .mainButton {
	background: url("../images/ape/mainbutton.jpg") repeat-x scroll right top white;
    border: 1px solid #00A0DF;
    color: #00384D;
    margin-left: 5px;
    margin-top:5px;
}
#survey #remove {
	background: url("../images/ape/otherbutton.gif") repeat-x scroll right top white;
    border: 1px solid #00A0DF;
    color: #00384D;
    margin-left: 5px;
    margin-top:5px;
}
#survey p {
	padding: 5px;
}

#survey .buttons {
	
}

.journal-content-article a {
	font-weight: bold;
}

.content-page-text > p {
    margin-bottom: 1.7em;
}