#tags ul {
	font-family: Arial, sans-serif;
	font-size: 12px;
    margin: 0;
    padding: 0;
	text-align: center;
	background: white;
	width: 100%;
}

#tags li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
}

#tags li a {
	text-decoration: none;
	padding: 0 4px;
}

#tags li span {
	text-decoration: none;
	padding: 0 4px;
	color: #BDBDBD;
}

#tags li a:hover {
	text-decoration: underline;
}

.tag5 {
	font-size: 100%;
}

.tag4 {
	font-size: 120%;
}

.tag3 {
	font-size: 140%;
}

.tag2 {
	font-size: 160%;
}

.tag1 {
	font-size: 180%;
}

#tags li.tag4  a {
	color: #66594a;
}

#tags li.tag3  a {
	color: #00a0df;
}

#tags li.tag2  a {
	color: #f58d0f;
}

#tags li.tag5  a {
	color: #b23062;
}

#tags li.tag1  a {
	color: #b23062;
}
#tags #viewAllTags {
	border-top: 2px  solid #79b7e7;
	margin-top: 5px;
}

#tags #viewAllTags a {
	font-weight: bold;
	font-size:11px;
}
#tags #allTagsTable tr td a {
	font-weight: bold;
}
#tags .tagCount {
	text-align:right;
}
#tags #leftTags, #tags #rightTags {
	float: left;
	padding: 5px;
}