#directoryPortlet {
	font-size: 8pt;
}



#directoryPortlet .aiTitle {
    border-bottom: 2px solid #79B7E7;
    color: #2A4862;
    font-size: 11pt;
    font-weight: bold;
    margin-bottom: 5px;
    padding-left: 15px;

}
#directoryPortlet #directory-column-right-content table {
	width: 100%;
	border-collapse: collapse;
	font-size: 8pt;
	color: #2a4862;
}

#directoryPortlet #directory-column-right-content table th {
    padding: 4px;
    text-transform: uppercase;
    padding-left:15px;
}
#directoryPortlet #directory-column-right-content table td{

    border-top: 1px solid #E8EDFF;
     border-bottom: 1px solid #E8EDFF;
    padding: 4px;
}

#directoryPortlet #directory-column-right-content table td.header {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
	background: none repeat scroll 0 0 #ecf6ff;
	width:40%;
}


#directoryPortlet #directory-column-right-content ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
#directoryPortlet #directory-column-right-content li {
	padding-bottom: 2px;
}