#eadDisplayPortlet {
	background-image: none;
	background-color: white;
}
#eadDisplayPortlet #eadcontent {
	height: 100%;
}

#eadDisplayPortlet #eadcontent div {

}
#eadDisplayPortlet  #splitter {
width: 5px;
cursor: col-resize;
background: url("../images/ape/eaddisplay/vgrabber.gif") no-repeat scroll center center #C8DDF7;
}

#eadDisplayPortlet #left-pane {
	width:29%;
	overflow-y: auto;
}
#eadDisplayPortlet #right-pane {
	/* chrome */
	text-align:auto;
	margin-left:auto;
	margin-right:auto;

	align: auto;
	float: left;
	overflow-y: auto;
	overflow-x: auto;
}
#eadDisplayPortlet .pane {
	float: left;
	height: 100%;
}
#eadDisplayPortlet #eadTree {
	margin-right:5px;
}


@media screen {
	#eadDisplayPortlet #right-pane {
		font-size: 8pt;
	}
	#eadDisplayPortlet #eadcontent em{
		background-color: #afdefc;
	}	
}
@media print {
	#eadDisplayPortlet #right-pane {
		font-size: 11pt;
	}
	#eadDisplayPortlet #eadTree span.dynatree-active a {
		font-weight: bold;
	}	
	#eadDisplayPortlet #eadcontent em{
		border-bottom: 2px solid gray;

	}
	#eadDisplayPortlet .ead-content,#eadDisplayPortlet .creation-content {
		display: inline;
	}
}

#eadDisplayPortlet #eadcontent em{
	font-size: 110%;
	padding-left:2px;
	padding-right:2px;
}

#eadDisplayPortlet #contextInformation {
	margin-bottom: 0px;
    margin-top:  0px;
    white-space: nowrap;
}

#eadDisplayPortlet .eadid {
	color: #83736A;
    font-size: 130%;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}

#eadDisplayPortlet .titleproper {
    font-size: 170%;
	font-style: normal;
	font-weight: bold;
	padding-bottom: 15px;
	text-align: center;
}
#eadDisplayPortlet .subtitle {
    font-size: 150%;
	font-style: normal;
	font-weight: bold;
	line-height: 22px;
	padding-bottom: 15px;
	text-align: center;
	font-style: italic;
}
#eadDisplayPortlet .introduction {
	padding-top: 15px;
}
#eadDisplayPortlet h2 {
	border-bottom: 1px solid #79B7E7;
    color: #2A4862;
    font-size: 130%;
    font-weight: bold;
    margin: 0.3em 0;
    text-align: left;	
    padding-left: 15px;
}
#eadDisplayPortlet #expandableContent h2 {
	cursor: pointer;

}
#eadDisplayPortlet .defaultlayout {
	text-align: center;
}


#eadDisplayPortlet .ead-content,#eadDisplayPortlet .creation-content {
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
}

#eadDisplayPortlet .expand-unitid {
	width: 130px;
	padding-right: 10px;

}

#eadDisplayPortlet .expand-unitdate {
	width: 150px;
	text-align: right;
}

#child-paging {
	float:right;
	margin-right: 10px;	
}
#eadDisplayPortlet .numberOfPages {
	float:left;
	font-weight: normal;
}
#eadDisplayPortlet .child {
	border-bottom: 1px solid #E6E6E6;
	padding:5px;
}
#eadDisplayPortlet .childHeader {
	font-size: 130%;
	font-weight: normal;
}
#eadDisplayPortlet #children .boxtitle {
	height: 18px;
	background: url("../images/ape/search/tabbg.jpg") repeat-x scroll 0 0 transparent;
}
#eadDisplayPortlet .childContent h2 {
	border-bottom: none;
	font-size: 100%;
	font-weight:normal;
	font-style:italic;
	color: gray;
}
#eadDisplayPortlet .childContent {
    color: gray;
    font-size: 100%;
    line-height: 13px;
    padding-top: 3px;
    padding-left:140px;
    padding-right:150px;
}

#eadDisplayPortlet #printEadDetails, #eadDisplayPortlet #shareButton, #eadDisplayPortlet #bookmarksArea{
	float:right;

}
#eadDisplayPortlet #shareButton{
	padding-top: 8px;
}
#eadDisplayPortlet #buttonsHeader, #eadDisplayPortlet #eaddetailsContent {
	display: inline-block;
	width: 100%;
}
#eadDisplayPortlet em {
	font-weight: bold;
	font-style: normal;
}


#eadDisplayPortlet  ul.context{
    list-style: none outside none;
    padding: 0;
}


#eadDisplayPortlet  .context_space {
    display: inline-block;
    width: 10px;
}
#eadDisplayPortlet  .context {
	font-size: 130%;
}
#eadDisplayPortlet .mobile table{
	width: 100%;
}
#eadDisplayPortlet .mobile td {
    padding-left: 15px;
    padding-right: 15px;
}

#eadDisplayPortlet .errorHeader{
	width:100%;
	text-align:center;
	font-size:120%
}

#eadDisplayPortlet .daolist-orig {
	display: none;
	visibility:  hidden;
}
#eadDisplayPortlet #children .daolist-orig {
	display: inline;
	visibility:  visible;
}
#eadDisplayPortlet #moreDaosButton span {
	margin-left:0px;
}
#eadDisplayPortlet .daolistContainer {
	line-height: normal;
}
#eadDisplayPortlet .daolistContainer div.dao{
    border: 1px solid #79b7e7;
    border-radius: 3px;
    display: inline-block;
    padding: 2px;
    width: 200px;
    float: left;
    height: 238px;
    margin: 1px;
    overflow:hidden;
}
#eadDisplayPortlet  .daolistContainer img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:200px;
    max-height:200px;
}
#eadDisplayPortlet #children .daolistContainer img{
    max-width:100px;
    max-height:100px;
}
#eadDisplayPortlet #children .daolistContainer div.dao{
    width: 100px;
    height: 138px;
}
#eadDisplayPortlet .daolist span, #eadDisplayPortlet .daolist-orig span {
    display: block;
    margin-top: 3px;
}
#eadDisplayPortlet #moreDaosButton {
	display: inline-block;
	width:100%;
}

#eadDisplayPortlet #mycollectionPortletDiv #bookmarkAnswer #answerMessageSaved .success {
	color: green;
	font-weight: bold;
	text-align: center;
}

#eadDisplayPortlet #mycollectionPortletDiv #bookmarkAnswer #answerMessageSaved .failure {
	color: red;
	font-weight: bold;
	text-align: center;
}

#eadDisplayPortlet #bookmarkAnswer .success {
	color: green;
	font-weight: bold;
	text-align: center;
}

#eadDisplayPortlet #bookmarkAnswer .failure {
	color: red;
	font-weight: bold;
	text-align: center;
}