#eacCpfDisplayPortlet {
	background-image: none;
	background-color: white;
	color: #2A4862;
/*	margin-right:5px;
	margin-left:5px;*/
}

#eacCpfDisplayPortlet #printPreview {
	float:none;
	margin-right:0px;
	margin-left:0px;
}

#eacCpfDisplayPortlet h3#contextInformation {
	padding-top:0px;
	margin-top:0px;
}

#eacCpfDisplayPortlet #printEacDetails {
	float:right;
}

#eacCpfDisplayPortlet #details {
/*	width:70%;*/
    width:690px;
    margin-right:18px;
	float:left;
	word-wrap:break-word;
}

#eacCpfDisplayPortlet #printPreview #details {
	float:none;
	width:98%;
    margin-right:0px;
}
#eacCpfDisplayPortlet h1.iconPerson {
	background-image: url("../images/ape/icons/eac_types/person_big.png");
    background-repeat: no-repeat;
    background-size:32px;
}
#eacCpfDisplayPortlet h1.iconCorporateBody {
	background-image: url("../images/ape/icons/eac_types/org_big.png");
    background-repeat: no-repeat;
    background-size:32px;
}
#eacCpfDisplayPortlet h1.iconFamily {
	background-image: url("../images/ape/icons/eac_types/fam_big.png");
    background-repeat: no-repeat;
    background-size:32px;
}
#eacCpfDisplayPortlet h1 {
    color: #2A4862;
    font-size: 130%;
    font-weight: bold;
	/*margin-top:15px;*/
	padding-bottom:15px;
	display: inline-block;
    text-align: left;
   /* width:690px;*/width:640px;
    padding-left:50px;
}

#eacCpfDisplayPortlet #printPreview h1 {
	width: 98%;
}

#eacCpfDisplayPortlet h1 span#entityType {
	color:#83736A;
	font-weight:normal;
}
#eacCpfDisplayPortlet #footer{
	float:left;
}
#eacCpfDisplayPortlet #printPreview  #footer{
	width:98%;	
}
#eacCpfDisplayPortlet h2.otherInformation {
	color:#83736A;
	border-bottom:1px solid #83736A;
	padding-top:20px;
}

#eacCpfDisplayPortlet h2.title {
	border-bottom: none;
	font-size:9pt;
	font-weight:bold;
	float:left;
/*	pading-top:8px;*/margin-top:8px;
	padding-left:15px; /*padding to expanded icon*/
	cursor:pointer;
	width:100%;
}
#eacCpfDisplayPortlet .blockPlural, #eacCpfDisplayPortlet .blockSingular{
	/*padding-bottom:8px;*/ margin-bottom:8px;
	float:left;
	width:100%;
}
#eacCpfDisplayPortlet #printPreview a {
	pointer-events:none;
	cursor:default;
}
#eacCpfDisplayPortlet ul.level{
	 padding: 0 0 0 10px;
}
#eacCpfDisplayPortlet li.item{
	list-style:disc outside none;
	line-height: 1.8em;
	margin-bottom: 0.5em;
}

#eacCpfDisplayPortlet h2.subrow {
	margin-left:40px;
	word-wrap: break-word;
}

#eaccpfcontent .leftcolumn h2 {
	border-bottom: none;
	font-size:8pt;
	font-weight:bold;
	padding-left:16px;
}

#eacCpfDisplayPortlet .grey {
	color:#83736A;
}

#eacCpfDisplayPortlet .row {
	display:block;
	font-size:8pt;
	overflow:hidden;
	width:690px;
	float:left;
}

#eacCpfDisplayPortlet #printPreview .row {
	width:98%;
}
#eacCpfDisplayPortlet .section {
	margin-top:8px;
	}
#eacCpfDisplayPortlet .leftcolumn {
	float:left;
	overflow-y: auto;
    width:160px;
    text-align:left;	
    background:none repeat scroll 0 0 #ECF6FF;
}

#eacCpfDisplayPortlet #printPreview .leftcolumn {
    width:23%;
}

#eacCpfDisplayPortlet .rightcolumn {
    float:right;
    width:530px;
	/*margin-top:9px;*/
	border-bottom:1px solid #E8EDFF;
	border-top:1px solid #E8EDFF;
}
#eacCpfDisplayPortlet .rightcolumn p{
	margin-top:5px;
}
#eacCpfDisplayPortlet .rightcolumn span{
	position:relative;
	top:5px;
}
#eacCpfDisplayPortlet #printPreview .rightcolumn {
    width:75%;
}

#eacCpfDisplayPortlet #relations {
	float:right;
	width:292px;
	font-size:8pt;
}

#eacCpfDisplayPortlet #printPreview #relations {
	float:none;
	clear:both;
	padding-top:20px;
	width:98%;
}
#alternative{
	margin-bottom:15px;
}

.box{
	margin-bottom: 5px;
}

#eacCpfDisplayPortlet .box .boxtitle {
	cursor:pointer;
}
#eaccpfcontent{
/*	-ms-word-break: break-all;
	word-break: break-all;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;*/
	-ms-word-wrap: break-word;
	word-wrap:break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
#relations ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 5px;
	-ms-word-wrap: break-word;
	word-wrap:break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
#relations li {
	padding-bottom:5px;
}
#persons li.relationPerson{
	background-image: url("../images/ape/icons/eac_types/person_small.png");
    background-repeat: no-repeat;
    background-size:19px;
    padding-left:25px;
}
#persons li.relationCorporateBody{
	background-image: url("../images/ape/icons/eac_types/org_small.png");
    background-repeat: no-repeat;
    background-size:19px;
    padding-left:25px;
}
#persons li.relationFamily{
	background-image: url("../images/ape/icons/eac_types/fam_small.png");
    background-repeat: no-repeat;
    background-size:19px;
    padding-left:25px;
}

.linkShow:link {
	color: #C65400;
	text-decoration:underline;
}

.linkMore{
	float:right;
}
#feedbackEacCpf {
	text-align:left;
	padding-bottom:25px;
}

@media screen {
	#eacCpfDisplayPortlet #eaccpfcontent em {
		background-color: #afdefc;
	}	
}

#eacCpfDisplayPortlet #eaccpfcontent em {
	font-size: 110%;
	padding-left:2px;
	padding-right:2px;
}

#eacCpfDisplayPortlet .defaultlayout {
	text-align: center;
}

#eacCpfDisplayPortlet em {
	font-weight: bold;
	font-style: normal;
}

#eacCpfDisplayPortlet #buttonsDiv {
    float: right;
}

#eacCpfDisplayPortlet #buttonsDiv #translationsSelectorDiv,
#eacCpfDisplayPortlet #buttonsDiv #bookmarksArea {
    float: right;
}

#eacCpfDisplayPortlet #translationsSelectorDiv select {
    background-color: #E8E6E2;
    background-image: none;
    border: 1px solid #00A0DF;
    float: right;
    font-size: 8pt;
    height: 17px;
    margin-right: 10px;
    margin-top: 12px;
    vertical-align: middle;
}

#eacCpfDisplayPortlet #bookmarkAnswer .success {
	color: green;
	font-weight: bold;
	text-align: center;
}

#eacCpfDisplayPortlet #bookmarkAnswer .failure {
	color: red;
	font-weight: bold;
	text-align: center;
}

#eacCpfDisplayPortlet #shareButton{
		padding-top: 8px;
		float:right;
}