

.nav-menu .layouts,
.nav-menu .layouts ul,
.nav-menu .layouts li,
.nav-menu .layouts a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-size: 10pt;
  position: relative;
}

.nav-menu .layouts a {
  line-height: 1.3;
  padding: 6px 15px;
}
.nav-menu .layouts {

}
.nav-menu  > ul.layouts > li {
  cursor: pointer;
  background: #fff8e5;
  border-bottom: 1px solid #ffcd49;
}
.nav-menu  > ul.layouts > li:last-child {
  border-bottom: 1px solid #ffcd49;
}
.nav-menu  > ul.layouts > li:first-child {
  border-top: 1px solid #ffcd49;
}
.nav-menu  > ul.layouts > li > a {
  font-size: 13px;
  display: block;
  color: #2A4862;
  font-weight: bold;

}
.nav-menu  > ul.layouts > li > a:hover {
  text-decoration: none;
}

.nav-menu  > ul.layouts > li.selected > a {
  background: #F0F7FC;
  color: #2A4862;
}
.nav-menu  > ul.layouts > li.has-sub > a:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  border: 5px solid transparent;
  border-left: 5px solid black;
}
.nav-menu  > ul.layouts > li.has-sub.active > a:after {
  right: 14px;
  top: 12px;
  border: 5px solid transparent;
  border-top: 5px solid #2A4862;
}

/* Sub menu */

.nav-menu  > ul.layouts ul a {

  display: block;
  color: #2A4862;
  font-size: 11px;
  font-weight: bold;
  
}
.nav-menu  > ul.layouts ul li {
  padding-left:20px;
  border-bottom: 1px solid  #ffcd49; 
  background-color:white;
}
.nav-menu  > ul.layouts ul li.odd a {

}
.nav-menu  > ul.layouts ul li:first-child {
border-top: 1px solid  #ffcd49;
}
.nav-menu  > ul.layouts ul li:last-child {
  border: none;
}
