#skip-to-content,#heading .community-title,#heading .page-title,#navigation h1
	{
	clip: rect(0, 0, 0, 0);
	position: absolute;
}

body {
	background-color: #FFFFFF;
	background-image: url("../images/ape/background.jpg");
	background-position: center center;
	background-repeat: repeat-y;
	color: #333333;
	font-size: 10pt;
	font-family: Arial, sans-serif;
}

#headerMenu {
	font-size: 8pt;
	height: 20px;
}
#headerMenu ul  {
	list-style: none;
    margin-bottom: 0;
    margin-top: 3px;
	padding: 0px;
}
#headerMenu li {
	float: right;
}
#headerMenu a {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
}
#headerMenu div{
	float: right;
}
#headerMenu .changeLanguage select {
   background-color: #e8e6e2;
   border: 1px solid #00A0DF;
   height:17px;
   background-image: none;
}


a:link {
	color: #c65400;
	text-decoration: none;
}
a:visited {
	color: #c65400;
}

#banner {
	background: none repeat scroll 0 0 transparent;
	height: auto;
	position: relative;
	margin-bottom: 13px;
}

#wrapper {
	margin: 0 auto;
	width: 1000px;
}

#breadcrumbs {
	display: none;
}

#heading {
	background-image: url("../images/ape/header.png");
	height: 153px;
	width: 1000px;
}



.box .boxtitle {
	background-image: url("../images/ape/bg_headers.jpg");	
	font-weight: bold;
	padding-bottom: 2px;
	padding-top: 2px;	
	text-transform: uppercase;
	background-color: #afdefc;
	padding-left: 5px;
}
.box {
	border: 1px solid #afdefc;
	margin-top:7px;
	margin-bottom:7px;
	border-radius: 4px;
}
.paging ul  {
	display:inline-block;
    list-style: none outside none;
    padding: 0px;
    
    margin:0px;
    width: auto;
}
.paging li {

	float: left;
    font-size: 11px;	
    color:gray;	
    margin-left: 1px;
    margin-right: 1px;
}
.paging li.nolink {
	color: gray;
	background-color: white;
	/* for IE */
	filter: alpha(opacity =       70);
	/* CSS3 standard */
	opacity: 0.7;
}
.paging li.active {
	color:black;
	background-color: white;
}
.paging li a{
	background-color: white;
	/* for IE */
	filter: alpha(opacity =       70);
	/* CSS3 standard */
	opacity: 0.7;
}
.paging li a, .paging li.active, .paging li.nolink {	
	cursor: pointer;
    float: left;
    display: block;
    font-weight: bold;
    min-width: 20px;
    padding-left:4px;
    padding-right:4px;
    text-align: center;
    border: 1px solid #00A0DF;
}


.paging  li a:hover {
	border: 1px solid #79B7E7;
    color: #00384D;
	background-color: white;
	/* for IE */
	filter: alpha(opacity =       80);
	/* CSS3 standard */
	opacity: 0.8;
}
.error {
	color: red;	
	font-weight: bold;
}
.left {
	float:left;
}

.right {
	float:right;
}
.linkButton {
	text-align: center;
}

.linkButton a span, .linkButton .nolink span {
	margin-left: 5px;
}
.linkButton a, .linkButton .nolink {

	margin:5px;
	font-size: 12px;
    font-weight: bold;
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;

    border-radius: 15px;
    display: inline-block;

    letter-spacing:0.8px
}
.linkButton a {
	color: #006CB0;
	background-color: #E9F3FA;
	border: 1px solid #00A0DF;
}


.linkButton a:hover {
    color: #00384D;
	background-color: #BAE0FC;
    border-radius: 15px;
}
.linkButton a {
	color: #006CB0;
	background-color: #E9F3FA;
	border: 1px solid #00A0DF;
}
.linkButton a.notIndexed {
	color: #333333;
	background-color: #F2F2F2;
	border: 1px solid #BDBDBD;	
}
.linkButton a.notIndexed:hover {
	color: #333333;
	background-color: #F2F2F2;
	border: 1px solid #BDBDBD;
}
.linkButton .nolink {
	color: #A4A4A4;
	background-color: #F2F2F2;
	border: 1px solid #E6E6E6;	
}
#footer .footer-bar{
	background-color: #0099FF;
    background-image: url("../images/ape/footerbg.jpg");
    background-repeat: repeat-x;
    float: left;
    height: 30px;
    margin-bottom: 10px;
    padding-top: 0;
    width: 100%;
}
#footer {
	font-size:8pt;
}
#footer .logos {
	float:right;
}
#footer .logos img {
    height: 30px;
    padding: 1px;
}
#footer #footer-navigation {
	float: left;
    padding-bottom: 8px;
    padding-top: 8px;
}
#footer #footer-navigation li {
    border-right: 1px solid #999999;
    float: left;
}
#footer #footer-navigation ul {
    bottom: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#footer-navigation a {
    float: left;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

#footer-navigation a:active,#footer-navigation a:focus,#footer-navigation a:hover {
	color: #06c;
}

#footer-navigation .selected a {
	color: #00384D;
}
h2.blockHeader {
    font-size: 12pt;
    margin-bottom: 0.4em;
   	margin-top:0;
	padding-left: 15px;	
}
.collapsed {
    background-position: left center;
	background-repeat: no-repeat;
	background-image: url("../images/ape/expand/arrow-right.gif");
}
.expanded {
    background-position: left center;
	background-repeat: no-repeat;
	background-image: url("../images/ape/expand/arrow-down.gif");
}

