#directoryPortlet {
	font-size: 8pt;
}


#directoryPortlet #directory-column-right-content table {
	width: 100%;
	border-collapse: collapse;
	font-size: 8pt;
	color: #2a4862;
}

#directoryPortlet #directory-column-right-content table th {
	padding: 4px;
	text-transform: uppercase;
	padding-left: 15px;
}

#directoryPortlet #directory-column-right-content table td {
	border-top: 1px solid #E8EDFF;
	border-bottom: 1px solid #E8EDFF;
	padding: 4px;
}

#directoryPortlet #directory-column-right-content table td.header {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background: none repeat scroll 0 0 #ecf6ff;
	width: 40%;
}
#directoryPortlet #directory-column-right-content table td.subHeader {
	
	padding-left:30px;
	padding-right:10px;
	
}

#directoryPortlet #directory-column-right-content ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#directoryPortlet #directory-column-right-content li {
	padding-bottom: 2px;
}

.arrow_box {
	position: relative;
	background: #E9F3FA;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
	height: 100px;
	padding: 40px;
	width: 280px;
}

.arrow_box:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-right-color: #E9F3FA;
	border-width: 30px;
	top: 50%;
	margin-top: -30px;
}






.arrow_box p {
	color: #2A4862;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	font-size:14pt;

}