<nav class="$nav_css_class" id="navigation-top">
	<ul>
            <li class="sign-out">
                <a href="$sign_out_url">$sign_out_text</a>
            </li>
			<li><a href="$my_account_url" id="my-account" rel="nofollow" class="user-fullname use-dialog" title="$my_account_text" data-controlpanelcategory="my">$user_name</a></li>
		#foreach ($nav_item in $nav_items) 
			#set ($navigationPosition = $nav_item.getLayout().getExpandoBridge().getAttribute("navigation-position"))
			 #if ($navigationPosition.get(0) =="top")
				#if ($nav_item.isSelected())
					<li class="selected">
				#else
					<li>
				#end
					<a href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.icon() $nav_item.getName()</span></a>
	
					#if ($nav_item.hasChildren())
						<ul class="child-menu">
							#foreach ($nav_child in $nav_item.getChildren())
								#if ($nav_child.isSelected())
									<li class="selected">
								#else
									<li>
								#end
									<a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>
								</li>
							#end
						</ul>
					#end
				</li>
				#end
		#end
	</ul>
</nav>