<!DOCTYPE html>

#parse ($init)

<html dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	#js("$javascript_folder/jquery-1.7.2.min.js")
	#js("$javascript_folder/jquery-ui-1.8.14.custom.min.js")
	#js("$javascript_folder/jquery.dynatree.js")
	<script type="text/javascript">
	var addthis_config =
	{
	   ui_508_compliant: true,
	   ui_click : false,
	   data_track_clickback: true,
	   services_exclude : 'print'
	}
	</script>
	<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js?domready=1#pubid=ra-51ac1bff61ef0f9e"></script>
	$theme.include($top_head_include)
</head>

<body class="portal-popup $css_class">

$theme.include($content_include)

$theme.include($bottom_ext_include)

</body>

</html>
