<!DOCTYPE html>

#parse ($init)

<html dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	#js("//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
	#js("//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js")		
	<script type="text/javascript">
	var gId = 'UA-42421913-1';
	var hostname = window.location.hostname;
	if (hostname == "www.archivesportaleurope.net"
			|| hostname == "archivesportaleurope.net") {
		gId = 'UA-37520081-1';
	} else if (hostname == "contentchecker.archivesportaleurope.net") {
		gId = 'UA-35748576-1';
	}
	var _gaq = _gaq || [];
	_gaq.push([ '_setAccount', gId ]);
	_gaq.push([ '_trackPageview' ]);
	</script>
	$theme.include($top_head_include)
</head>

<body class="portal-popup $css_class">

	#if ($browserSniffer.isIe($request))
	  #if($browserSniffer.getMajorVersion($request) < 7)
			<div id="browser">
				#language("header.browser")
			</div>
		#end
	#elseif ($browserSniffer.isChrome($request))
	  #if($browserSniffer.getMajorVersion($request) < 38)
			<div id="browser">
				#language("header.browser")
			</div>
		#end
	#elseif ($browserSniffer.isFirefox($request))
	  #if($browserSniffer.getMajorVersion($request) < 24)
			<div id="browser">
				#language("header.browser")
			</div>
		#end
	#elseif ($browserSniffer.isSafari($request))
	  #if($browserSniffer.getMajorVersion($request) < 5)
			<div id="browser">
				#language("header.browser")
			</div>
		#end
	#end

$theme.include($content_include)

$theme.include($bottom_ext_include)
	<script type="text/javascript">
	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl'
				: 'http://www')
				+ '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
	</script>
</body>

</html>
