<!DOCTYPE html>

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	#js("$javascript_folder/jquery-1.7.2.min.js")
	#js("$javascript_folder/jquery-ui-1.8.14.custom.min.js")
	#js("$javascript_folder/jquery.dynatree.js")
	#js("$javascript_folder/jquery.blockUI.js")
	#js("$javascript_folder/jquery.nivo.slider.pack.js")
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="https://wd-edge.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "e059943f-766d-434b-84ea-1e0d4a91b7d4", doNotHash: true, doNotCopy: true, hashAddressBar: true, shorten:false});</script>
	<script type="text/javascript">
	var gId = 'UA-42421913-1';
	var hostname = window.location.hostname;
	if (hostname == "www.archivesportaleurope.net"
			|| hostname == "archivesportaleurope.net") {
		gId = 'UA-37520081-1';
	} else if (hostname == "contentchecker.archivesportaleurope.net") {
		gId = 'UA-35748576-1';
	}
	var _gaq = _gaq || [];
	_gaq.push([ '_setAccount', gId ]);
	_gaq.push([ '_trackPageview' ]);
	</script>
 
	$theme.include($top_head_include)

</head>

<body class="$css_class">

$theme.include($body_top_include)


<div id="wrapper">

#if ( $is_signed_in )    
	#set ($rService = $serviceLocator.findService("com.liferay.portal.service.RoleLocalService"))
	#set ($usrRoles = $rService.getUserRoles( $user_id ))
    
	#set ($hasPermission = false)

	#foreach( $usrRole in $usrRoles )
	        #if ( $usrRole.getName() == "Administrator" || $usrRole.getName() == "Content-Admin" || $usrRole.getName() == "Power User"|| $usrRole.getName() == "Content-Editor" || $usrRole.getName() == "Portal Content Reviewer" )
	           #set ($hasPermission = true)
	        #end
     #end
#end
	
#if ( $is_signed_in )   
  #dockbar()
#else
<div id="headerMenu">

	<ul>
		
			<li><a href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a></li>
		
		#if ($show_sign_out)
            <li class="sign-out">
                <a href="$sign_out_url">$sign_out_text</a>
            </li>
        #end
        
        <li>$theme.runtime("82")</li>
       
	</ul>
</div>
#end
	<header id="banner" role="banner">
		<div id="header">
			<a href="$company_url"><div id="logo"></div></a>		
			<div class="left-header"></div>
			<div class="right-header"></div>
		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end	
		</div>



	</header>

	<div id="content">

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>
#parse ("$full_templates_path/footer.vm")

</div>

$theme.include($body_bottom_include)
	<script type="text/javascript">
	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl'
				: 'http://www')
				+ '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
	</script>
</body>

$theme.include($bottom_include)

</html>
