<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
		<param name="Threshold" value="ERROR" /> 
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %C{1}:%L - %m%n"/>
        </layout>
    </appender>
    <appender name="file" class="eu.archivesportaleurope.commons.logging.DailyRollingFileAppender">
        <param name="File" value="${catalina.base}/logs/portal.log"/>
        <param name="Threshold" value="INFO" /> 
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %C{1}:%L - %m%n"/>
        </layout>
    </appender>
	<appender name="all" class="eu.archivesportaleurope.commons.logging.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/portal-error.log" />
		<param name="Threshold" value="ERROR" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %C{1}:%L - %m%n" />
		</layout>
	</appender>
	<appender name="searchesFile" class="eu.archivesportaleurope.commons.logging.DailyRollingFileAppender">	 
		<param name="Threshold" value="DEBUG" />
		<param name="maxBackupIndex" value="30"/> 
		<param name="File" value="${catalina.base}/logs/portal-searches.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE};%-5p;%m%n" />
		</layout>
	</appender>
    <logger name="eu.archivesportaleurope.portal.search.common.AbstractSearcher">
		<level value="DEBUG" />
		<appender-ref ref="searchesFile" /> 
	</logger>
	<logger name="eu">
		<level value="info" />
		<appender-ref ref="file" /> 
		<appender-ref ref="console" /> 
	</logger>		
	<root>
		<priority value="ERROR" />
		<appender-ref ref="all" />
	</root>
</log4j:configuration>
