<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
		<param name="Threshold" value="ERROR" /> 
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %C{1}:%L - %m%n"/>
        </layout>
    </appender>
    <appender name="file" class="eu.archivesportaleurope.commons.logging.DailyRollingFileAppender">
        <param name="File" value="${catalina.base}/logs/portal.log"/>
        <param name="Threshold" value="INFO" /> 
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %C{1}:%L - %m%n"/>
        </layout>
    </appender>
	<appender name="all" class="eu.archivesportaleurope.commons.logging.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/portal-error.log" />
		<param name="Threshold" value="ERROR" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %C{1}:%L - %m%n" />
		</layout>
	</appender>
	<appender name="analyzeSimpleSearchFile" class="eu.archivesportaleurope.commons.logging.DailyRollingFileAppender">	 
		<param name="Threshold" value="DEBUG" />
		<param name="maxBackupIndex" value="90"/>
		<param name="File" value="${catalina.base}/logs/analytics/portal-analyzes-simplesearch.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE};%m%n" />
		</layout>
	</appender>
	<appender name="analyzeAdvancedSearchFile" class="eu.archivesportaleurope.commons.logging.DailyRollingFileAppender">	 
		<param name="Threshold" value="DEBUG" />
		<param name="maxBackupIndex" value="90"/> 
		<param name="File" value="${catalina.base}/logs/analytics/portal-analyzes-advancedsearch.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE};%m%n" />
		</layout>
	</appender>
	<appender name="analyzeAdvancedSearchListFile" class="eu.archivesportaleurope.commons.logging.DailyRollingFileAppender">	 
		<param name="Threshold" value="DEBUG" />
		<param name="maxBackupIndex" value="90"/>		 
		<param name="File" value="${catalina.base}/logs/analytics/portal-analyzes-advancedsearch-list.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE};%m%n" />
		</layout>
	</appender>
		<appender name="analyzeAdvancedSearchContextFile" class="eu.archivesportaleurope.commons.logging.DailyRollingFileAppender">	 
		<param name="Threshold" value="DEBUG" />
		<param name="maxBackupIndex" value="90"/>		 
		<param name="File" value="${catalina.base}/logs/analytics/portal-analyzes-advancedsearch-context.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE};%m%n" />
		</layout>
	</appender>
	<appender name="analyzePreviewFile" class="eu.archivesportaleurope.commons.logging.DailyRollingFileAppender">	 
		<param name="Threshold" value="DEBUG" />
		<param name="maxBackupIndex" value="90"/>		 
		<param name="File" value="${catalina.base}/logs/analytics/portal-analyzes-preview.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE};%m%n" />
		</layout>
	</appender>
	<appender name="analyzeAlFile" class="eu.archivesportaleurope.commons.logging.DailyRollingFileAppender">	 
		<param name="Threshold" value="DEBUG" />
		<param name="maxBackupIndex" value="90"/>		 
		<param name="File" value="${catalina.base}/logs/analytics/portal-analyzes-al.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE};%m%n" />
		</layout>
	</appender>
	<appender name="sitemapFile" class="eu.archivesportaleurope.commons.logging.DailyRollingFileAppender">	 
		<param name="Threshold" value="DEBUG" /> 
		<param name="File" value="${catalina.base}/logs/portal-sitemap.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE};%m%n" />
		</layout>
	</appender>
    <logger name="SIMPLE_SEARCH_ANALYZE">
		<level value="debug" />
		<appender-ref ref="analyzeSimpleSearchFile" /> 
	</logger>
    <logger name="PREVIEW_SECOND_DISPLAY_ANALYZE">
		<level value="debug" />
		<appender-ref ref="analyzePreviewFile" /> 
	</logger>
    <logger name="AL_ANALYZE">
		<level value="debug" />
		<appender-ref ref="analyzeAlFile" /> 
	</logger>
	    <logger name="ADVANCED_SEARCH_ANALYZE">
		<level value="debug" />
		<appender-ref ref="analyzeAdvancedSearchFile" /> 
	</logger>
	<logger name="ADVANCED_SEARCH_LIST_ANALYZE">
		<level value="debug" />
		<appender-ref ref="analyzeAdvancedSearchListFile" /> 
	</logger>
	<logger name="ADVANCED_SEARCH_CONTEXT_ANALYZE">
		<level value="debug" />
		<appender-ref ref="analyzeAdvancedSearchContextFile" /> 
	</logger>
	<logger name="SITEMAP">
		<level value="debug" />
		<appender-ref ref="sitemapFile" /> 
	</logger>
	<logger name="eu">
		<level value="info" />
		<appender-ref ref="file" /> 
	</logger>		
	<root>
		<priority value="ERROR" />
		<appender-ref ref="all" />
	</root>
</log4j:configuration>
