#navigation-top {
  width: auto;
}
#navigation-top,
#navigation-top ul,
#navigation-top ul li,
#navigation-top ul li a {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 11px;
  color: #2A4862;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
#navigation-top:before,
#navigation-top:after,
#navigation-top > ul:before,
#navigation-top > ul:after {
  content: '';
  display: table;
}
#navigation-top:after,
#navigation-top > ul:after {
  clear: both;
}

#navigation-top ul > li {
  float: right;
  list-style: none;
  	  background: #fff8e5;
}
#navigation-top > ul > li {
  border-left: 1px solid  #ffcd49;
}
#navigation-top > ul > li:first-child {
  border-right: 1px solid  #ffcd49;
}
#navigation-top ul > li > a {
  display: block;
  text-decoration: none;
  padding: 3px 15px;
  position: relative;
}
.nav-menu  > ul.layouts ul li:first-child {
border-top: 1px solid  #ffcd49;
}
#navigation-top ul > li.selected {
	  background: white;
}

#navigation-top ul > li > ul > li.selected {
	  background: white;
}
#navigation-top ul > li > ul > li > ul > li.selected {
	  background: white;
}

#navigation-top ul > li > a:hover {
  background: white;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
#navigation-top ul > li > a:hover:before {
  content: '';
  z-index: 2;
  position: absolute;
  border: 1px solid white;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: -1px;
  opacity: .2;
}
#navigation-top ul > li > a:hover:after {
  content: '';
  z-index: 2;
  position: absolute;
  border: 1px solid white;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: -1px;
  opacity: .2;
}
#navigation-top > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: #fff8e5;
}
#navigation-top > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  position: absolute;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
#navigation-top > ul > li > ul {
  width: 200px;
  position: absolute;
  z-index: 1000;
}
#navigation-top > ul > li > ul > li {
  float: none;
  position: relative;
}
#navigation-top > ul > li > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
    background: #fff8e5;
}
#navigation-top > ul > li > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  position: absolute;
}
#navigation-top > ul > li > ul > li > ul {
  left: 200px;
  top: 1px;
  width: 200px;
}
#navigation-top > ul > li > ul > li > ul > li {
  float: none;
}
